/* PPEditorialNew */
@font-face {
	font-family: 'PPEditorialNew';
	src: url('$lib/assets/fonts/PPEditorialNew/PPEditorialNew-Ultralight.otf');
	font-weight: 200;
	font-display: 'block';
}
@font-face {
	font-family: 'PPEditorialNew';
	src: url('$lib/assets/fonts/PPEditorialNew/PPEditorialNew-UltralightItalic.otf');
	font-weight: 200;
	font-style: italic;
	font-display: 'block';
}
@font-face {
	font-family: 'PPEditorialNew';
	src: url('$lib/assets/fonts/PPEditorialNew/PPEditorialNew-Regular.otf');
	font-weight: 400;
	font-display: 'block';
}
@font-face {
	font-family: 'PPEditorialNew';
	src: url('$lib/assets/fonts/PPEditorialNew/PPEditorialNew-Italic.otf');
	font-weight: 400;
	font-style: italic;
	font-display: 'block';
}
@font-face {
	font-family: 'PPEditorialNew';
	src: url('$lib/assets/fonts/PPEditorialNew/PPEditorialNew-Ultrabold.otf');
	font-weight: 800;
	font-display: 'block';
}
@font-face {
	font-family: 'PPEditorialNew';
	src: url('$lib/assets/fonts/PPEditorialNew/PPEditorialNew-UltraboldItalic.otf');
	font-weight: 800;
	font-style: italic;
	font-display: 'block';
}
/* PPRightGothic */
@font-face {
	font-family: 'PPRightGothic';
	src: url('$lib/assets/fonts/PPRightGothic/PPRightGothic-Medium.otf');
	font-weight: 400;
	font-display: 'block';
}
/* PPRightGothic-Wide */
@font-face {
	font-family: 'PPRightGothic-Wide';
	src: url('$lib/assets/fonts/PPRightGothic/PPRightGothic-WideMedium.otf');
	font-weight: 400;
	font-display: 'block';
}
